extends ./layout.jade

append head
    title fuck

append body
    h2 lateast
    ul
        each post in data.postlist.sort(function(x,y){return new Date(data.posts[x].info.date) < new Date(data.posts[y].info.date)}).slice(0,10)
            li: a(href="#{post}/#{data.posts[post].info.entry}.html")= post
    h2 byLabel
    ul
        each posts, label in data.byLabel
            li: a(href="byLabel/#{encodeURIComponent(label)}.html")= label
    h3 byDate
    ul
        each posts, date in data.byDate
            li: a(href="byDate/#{date}.html")= date

