mixin title(title, subtitle)
    section#heading
        div#title
            h1= title
            div= subtitle

mixin section(title)
    section
        h2.section-header= title
        div.content
            block

doctype html
meta(name="viewport", content="width=device-width,initial-scale=1")
style
    include:scss(outputStyle='compressed') koa.scss
script
    include zepto.js
script
    include:uglify-js:coffee-script koa.coffee

block content

div#nav
    a#nav-icon
        svg(viewBox="0 0 120 120", width="24")
            g
                rect(x="12", y="21", width="96", height="12")
                rect(x="12", y="54", width="96", height="12")
                rect(x="12", y="87", width="96", height="12")
    ul#nav-menu
