extends layout.jade

block content
    style
        include:scss(outputStyle='compressed') ppt.scss
    script
        include zepto.js
    script
        include:uglify-js:coffee-script ppt.coffee
    block head

    block body
