doctype html
meta(name="viewport", content="width=device-width,initial-scale=1")
style
    include:scss(outputStyle='compressed') vue.scss
script
    include zepto.js
script
    include:uglify-js:coffee-script vue.coffee
block content
