extends layout.jade

block content
    style
        include:scss(outputStyle='compressed') vue.scss
    script
        include zepto.js
    script
        include:uglify-js:coffee-script vue.coffee
    block head

    block body
