html {
    font: {
        family: 'Roboto', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei', sans-serif;
        size: 18px;
        weight: 400;
    }
    line-height: 1.5;
    min-height: 100vh;

    color: #233;
}

body {
    padding: 0;
    margin: 0;
    overflow: {
        x: hidden;
        y: scroll;
    }
}

pre {
    background: white;
    border: {
        top: 1px solid #eee;
        bottom: 1px solid #eee;
    }
    padding: 25px;
    font-size: .9rem;
    text-align: left;
    overflow-x: auto;
}

code {
    font: {
        family: 'Roboto Mono', 'Menlo', 'Consolas', monospace;
        size: .9rem;
    }
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
}

h3 {
    margin-top: 60px;
    font-size: 1.2rem;
}

h4 {
    margin-top: 40px;
    font-size: 1rem;
}

ul li {
    font-size: .9rem;
}

p {
    text-indent: 2rem;
}

blockquote p {
    text-indent: 0;
}

.content {
    margin: 0 auto;
    max-width: 1080px;
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100vw;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;

    font: {
        family: 'Zapfino', 'Kalam', cursive;
        size: 6rem;
        weight: 400;
    }
}

.center {
    text-align: center;
}

.scen {
    margin: 0;
    background-color: #eee;
    transition: background-color 1s ease;
    padding: 150px 50px;
    min-height: 50vh;

    &.active {
        background-color: white;
    }

    &.full-height {
        height: 100vh;
        padding: 0;
    }
}
