mixin require(file)
    -var suffix = file.split('.').slice(-1)[0]
    case suffix
        when 'js'
            script(src=file)
        when 'css'
            link(rel='stylesheet', href=file)

doctype html
html(lang="zh_CN")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title #{data.info.title} | ylxdzsw's blog
        block head
    body
        block body
